<%= simple_form_for(@project, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  <% if @project.new_record? || @project.editable?(current_user) %>
    <%= f.input :name, required: true, autofocus: true, maxlength: 145 %>
    <%= f.input :description, required: true %>
    <%= f.label :rating, required: true %>
    <%= f.collection_radio_buttons :rating, I18n.t('project.rating').to_a, :first, :last, required: true, :item_wrapper_class => 'inline' %>
    <br>
    <div class="module">
      <% if @project.new_record? %>
        <h3>Attach your location</h3>
      <% else %>
        <h3>Update your location</h3>
        <p>Has the location for this problem changed?</p>
      <% end %>
      <div>
        <%
          extraclass = ""
          if @project.new_record?
            extraclass = "autoclick"
          end
        %>
        <%= link_to 'Use my current location', '#', class: "geolocate #{extraclass}", remote: true %>
        <span>or</span>
        <input type="text" id="address" placeholder="Enter your address"></input>
        <a href="#" id="submit_address" class="btn btn-submit">Find me</a>
      </div>

      <div id="map_preview"></div>

      <%= f.input :latitude, required: true, as: :hidden %>
      <%= f.input :longitude, required: true, as: :hidden %>
    </div>
    <div class="module">
      <h3>Attach a before photo</h3>
      <%= f.input 'photos_attributes[][image]', label: 'Image', as: :file, required: false %>
      <%= f.input 'photos_attributes[][kind]', as: :hidden, input_html: { value: 'before' } %>
    </div>
  <% elsif @project.can_add_cleaned_photos?(current_user) %>
    <div class="module">
      <h3>Attach an after photo</h3>
      <%= f.input 'photos_attributes[][image]', label: 'Image', as: :file, required: false %>
      <%= f.input 'photos_attributes[][kind]', as: :hidden, input_html: { value: 'after' } %>
    </div>
  <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, @project.new_record? ? 'Create' : 'Update' %>
  </div>
<% end %>
