#new_project_form.modal.hide.fade

  %header.modal-header
    %h3
      New Project

  = simple_form_for :project, url: '/projects', method: 'post', html: {multipart: true} do |f|
    = f.input :latitude, as: :hidden, value: ''
    = f.input :longitude, as: :hidden, value: ''

    .modal-body
      %div.name
        = f.input :name
        = f.input :rating, collection: I18n.t('project.rating').values.zip(I18n.t('project.rating').keys), required: true, :item_wrapper_class => 'inline'
      %div.desc
        = f.input :description, as: :text

      %h4
        Attach a before photo
      = f.input 'photos_attributes[][image]', label: 'Image', as: :file, required: false
      = f.input 'photos_attributes[][kind]', as: :hidden, input_html: { value: 'before' }

    .modal-footer
      %input{ class: 'btn btn-cancel', type: 'cancel', value: 'Cancel'}
      = f.button :submit, class: 'btn btn-success'
