<td>
  <%= link_to (truncate project.name, :length => 30, :omission => "..."), project_path(project) %>
</td>
<td>
  <%= truncate project.description, :length => 145, :omission => "..." %>
</td>
<td>
  <span title="<%= meaning_of_rating project.rating %>" class="help rating rating-<%= project.rating %>"><span><%= project.rating %></span></span>
</td>
