<%= render "shared/sharethis" %>

<h1>Current Problems</h1>

<p class="lead">
  Here's a map showing problems in this community.  Click on a problem to learn more about it.

<% if params[:zipcode] %>
  Check out the <%= link_to 'leaderboard', leaderboard_by_zipcode_path(params[:zipcode]) %> for this area.
<% else %>
  Check out the global <%= link_to 'leaderboards', leaderboard_path %>.
<% end %>
</p>

  <% if not user_signed_in? %>
    <p class="lead"><%= link_to "Create an account", new_user_registration_path %> and join the effort today!</p>
  <% else %>
    <% if allow? 'project', 'new' %>
      <p class="lead">Or you can <%= link_to 'create a new problem', new_project_path %> right now!</p>
    <% end %>
  <% end if %>

<% if @projects.blank? %>
  <div id="project_map"></div>

  <h3>There are no open problems at this time around here.</h3>
  <p>But, our community keeps growing, our most recent projects can be found:</p>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-striped table-bordered">
    <thead>
      <th width="200">Problem</th>
      <th class="hidden-phone">Description</th>
      <th>Status<a href="#" class="help" title="New: Anyone can take ownership of these. Active: Currently being worked on. Complete: Work is done.">?</a></th>
      <th>Rating<a href="#" class="help" title="<%= meaning_of_rating 0 %>">?</a></th>
      <th>Zip Code</th>
    <tbody>
      <%= render partial: 'recent', collection: @recents %>
    </tbody>
  </table>
<% else %>
  <div id="project_map"></div>

  <% if user_signed_in? && allow?('project', 'new') %>
    <div id="project_controls" class="hidden-phone">
      <strong>Double click</strong> anywhere on the map to create a new project, or <%= link_to 'manually enter one', new_project_path %>.
    </div>
    <%= render 'projects/new_project_modal' %>
  <% end %>

  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-striped table-bordered">
    <thead>
      <th width="200">Problem</th>
      <th class="hidden-phone">Description</th>
      <th>Status<a href="#" class="help" title="New: Anyone can take ownership of these. Active: Currently being worked on. Complete: Work is done.">?</a></th>
      <th>Rating<a href="#" class="help" title="<%= meaning_of_rating 0 %>">?</a></th>
      <th>Distance</th>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
<% end %>

<% if allow? 'project', 'new' %>
  <p><i class="icon-plus-sign"></i><%= link_to 'Create a new project', new_project_path %></p>
<% end %>

<%= paginate @projects %>

<%# Add projects to Javascript %>
<script>
  <%= raw("WS.local_projects = #{@projects.to_json};") %>
</script>
