<%= render "shared/sharethis" %>
<h1>Current Problems</h1>
<p class="lead">
  Here's a map showing problems in this community.  Click on a problem to learn more about it.
<p>
<% if not user_signed_in? %>
  <p class="lead"><%= link_to "Create an account", new_user_registration_path %> and join the effort today!</p>
<% else %>
  <% if allow? 'project', 'new' %>
    <p class="lead">Or, you can <%= link_to 'create a new problem', new_project_path %> right now!</p>
  <% end %>
<% end if %>

<% if @projects.blank? %>
  <p>No open problems at this time.</p>
  <div id="project_map"></div>
<% else %>
  <div id="project_map"></div>

  <% if user_signed_in? %>
    <div id="project_controls">
      <div id="new_project_marker" draggable="true">New Project</div>
    </div>
    <%= render 'projects/new_project_modal' %>
  <% end if %>

  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-striped table-bordered">
    <thead>
      <th width="200">Problem</th>
      <th class="hidden-phone">Description</th>
      <th>Status<a href="#" class="help" title="New: Anyone can take ownership of these. Active: Currently being worked on. Complete: Work is done.">?</a></th>
      <th>Rating<a href="#" class="help" title="<%= meaning_of_rating 0 %>">?</a></th>
      <th>Distance</th>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
<% end %>

<% if allow? 'project', 'new' %>
  <p><i class="icon-plus-sign"></i><%= link_to 'Create a new project', new_project_path %></p>
<% end %>

<%= paginate @projects %>

<%# Add projects to Javascript %>
<script>
  <%= raw("WS.local_projects = #{@projects.to_json};") %>
</script>
