<h2>New Project</h2>

<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :description, required: true %>
    <%= f.label :rating, required: true %>
    <%= f.collection_radio_buttons :rating, I18n.t('project.rating').to_a, :first, :last, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>
