<%= render "shared/sharethis" %>
<div class="row-fluid">
  <div class="span8">
    <h1><%= @project.name %></h1>
    <h3>Created by <%= link_to @project.creator.username, profile_path(@project.creator.username) %></h3>
    <br>
    <div class='module emphasized-6' id="status-box">
      <h3>Problem Status</h3>
      <%= project_button @project %>
    </div>

    <p class="lead"><%= @project.description %></p>

    <hr>
    <div class="comments">
      <h3>Comments</h3>
      <div class="comments-inner">
          <%= render partial: 'projects/comment', collection: @comments %>
          <% if @comments.blank? %>
            <p>No comments at this time.</p>
          <% end %>
      </div>
      <%= render partial: 'comment_form' if current_user %>
    </div>
  </div>
  <div class="span4">
    <p><%= project_edit_link(@project, current_user) %></p>
    <div class="module emphasized-<%= @project.rating %>">
      <h3>A <%= @project.rating %>-star problem! <span title="<%= meaning_of_rating @project.rating %>" class="help rating rating-<%= @project.rating %>"><%= @project.rating %><span></h3>
      <p><%= meaning_of_rating @project.rating %></p>
    </div>

    <h3>Location <small>(<%= link_to "Get directions", "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=#{@project.latitude},#{@project.longitude}&ie=UTF8", :target => "_blank" %>)</small></h3>
    <img class="project-map" src="<%= static_google_map_with_marker(@project.latitude, @project.longitude) %>" width="275" />
    <% if @project.photos.length > 0 %>
      <h3>Before &amp; After Photos</h3>
      <div class="project_photos gallery module">
        <% @project.photos.each do |photo| %>
          <%= link_to (image_tag photo.image.url), photo.image.url, class: "fancybox-media" %>
        <% end %>
      </div>
    <% end %>
    <% if current_user && @project.cleaned_by == current_user.id && @project.state != 'verified' %>
      <div class="module emphasized-4">
        <h3>Add an after photo</h3>
        <%= link_to 'add a photo', edit_project_path(@project) %>
      </div>
    <% end %>
  </div>
</div>
