<%= render "shared/sharethis" %>
<div class="row-fluid">
  <div class="span8">
    <h1><%= @project.name %></h1>
    <div class="module emphasized-<%= @project.rating %>">
      <h3>A <%= @project.rating %>-star problem! <span title="<%= meaning_of_rating @project.rating %>" class="help rating rating-<%= @project.rating %>"><%= @project.rating %><span></h3>
      <p><%= meaning_of_rating @project.rating %></p>
    </div>

    <% if @project.photos.length > 0 %>
      <div class="project_photos gallery module">
        <% @project.photos.each do |photo| %>
          <%= link_to (image_tag photo.image.url), photo.image.url, class: "fancybox-media" %>
        <% end %>
      </div>
    <% end %>

    <p class="lead"><%= @project.description %></p>

    <i class="icon-map-marker"></i><%= link_to 'Back to projects', "javascript:history.back(-1)" %>
  </div>
  <div class="span4">
    <h3>Location</h3>
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= @project.latitude %>,<%= @project.longitude %>&amp;ie=UTF8&amp;output=embed"></iframe>
    <%= link_to "Get directions", "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=#{@project.latitude},#{@project.longitude}&ie=UTF8", :target => "_blank" %>
    <% if @project.photos.length > 0 %>
      <div class="project_photos before">
        <h3>Problem Photo</h3>
        <% @project.photos.each do |photo| %>
          <% if photo.kind == "before" %>
            <%= link_to (image_tag photo.image.url), photo.image.url, class: "fancybox-media" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="module emphasized-4">
      <h3>Add a photo</h3>
      [TODO]
    </div>
  </div>
</div>
