<h1><%= @project.name %></h1>

<%# Begin Project Rating %>
<p>
  Rating: <span title="<%= meaning_of_rating @project.rating" class="rating rating-<%= @project.rating %>"><%= @project.rating %><span></p>
</p>
<p>
  <%= meaning_of_rating @project.rating %>
</p>
<%# End Project Rating %>

<h3>Project Details</h3>
<p><%= @project.description %></p>
