-# Google Maps
%script{ src: 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAz0RTu0_M1USJXhs088eobfsm6YoRh5rU&sensor=false' }

= render 'common/javascript_templates'

= javascript_include_tag 'application'

-# Fancy Box
= javascript_include_tag 'fancybox/jquery.fancybox.pack.js'

%script
  - if @user_latlng
    != "WS.current_user.lat = '#{@user_latlng['latitude']}';"
    != "WS.current_user.lng = '#{@user_latlng['longitude']}';"
