<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <% if @project %>
      <%= @project.name %> on
    <% elsif @user %>
      <%= @user.username %> at
    <% elsif @projects and current_user %>
      Active problems in my hometown (zip: <%= current_user.zip_code %>) on
    <% end %> WeSpruce.com: Let's beautify our community one problem at a time.
  </title>

  <script>
    WS = { current_user: {} }
  </script>
  <%= stylesheet_link_tag 'application', 'forms', 'projects', 'badges', 'fancybox/jquery.fancybox.css', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-mobile', media: 'screen and (max-width: 480px)' %>
  <%= stylesheet_link_tag 'mobile-custom', media: 'screen and (max-width: 480px)' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= @body_class %>">
  <div class="container-fluid">
    <div id="header">
      <div id="logo"><%= link_to "WeSpruce", (user_signed_in? ? projects_by_zipcode_path(current_user.zip_code) : root_path) %></div>
      <ul id="user_nav">
        <li><%= form_tag projects_path, method: 'get' do %><%= text_field_tag 'zipcode', nil,  placeholder: "Zip Code: #{current_user.try(:zip_code)}" %><% end %></li>
        <% if user_signed_in? %>
          <li>
            <div class="btn-group">
              <%= link_to '<i class="icon-user"></i>'.html_safe + current_user.username, profile_path(current_user.username), class: "btn" %>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="icon-map-marker"></i>Your Town'.html_safe, projects_by_zipcode_path(current_user.zip_code) %></li>
                <li><%= link_to '<i class="icon-map-marker"></i>Near Me'.html_safe, projects_path %></li>
                <li><%= link_to '<i class="icon-plus-sign"></i>New Problem'.html_safe, new_project_path %></li>
                <li><%= link_to '<i class="icon-edit"></i>Account'.html_safe, edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to '<i class="icon-off"></i>Sign out'.html_safe, destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li><%= link_to '<i class="icon-plus-sign"></i>Sign up'.html_safe, new_user_registration_path, class: "btn btn-secondary" %></li>
          <li>
            <div class="btn-group">
              <%= link_to '<i class="icon-user icon-white"></i> Sign in'.html_safe, new_user_session_path, class: "btn btn-primary" %>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Sign in', new_user_session_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter) %></li>
                <li><%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %></li>
              </ul>
            </div>
          </li>
          <li><%= link_to '<i class="icon-map-marker"></i>Near Me'.html_safe, projects_path, class: "btn btn-info" %></li>
        <% end %>
      </ul>
    </div>
    <div class="container-contents">
      <%= notice_tag %>
      <%= error_tag %>
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    &copy; 2012 - Perform the Needful - <%= link_to "Privacy", "/pages/privacy" %> | <%= link_to "Terms of Use", "/pages/terms" %>
    <br>
    <a href="http://twitter.com/wespruce" target="_blank">@wespruce</a>
  </div>

  <%= render 'common/javascript' %>
</body>
</html>
